@grid: 8px;
@textColor: #898989;
@linkColor: #333;
@linkHighlight: #00B8EC;
@baseFontSize: 13px;
@serifFamily: 'minion-pro', serif;
@sansSerifFamily: 'myriad-pro', sans-serif;
@sansSerifAltFamily: 'Arial', sans-serif;
@paleGray: #e5e5e5;
@lightGray: #CCC;
@midGray: #999;
@darkGray: #333;
@illustrationartColor: #f33737;
@filmColor: #000000;
@photographyColor: #FAA634;
@newMediaColor: #62BB46;
@eventColor: #894E93;
@interviewColor: #00b8eb;
@semiBold: 600;

.btn-arrow-left {
  background-image: url(../img/slices/arrow-right-white.png) !important;
	background-repeat: no-repeat !important;
	background-position: 90% center !important;
  &:hover {
    background-image: url(../img/slices/arrow-right-white.png) !important;
    background-repeat: no-repeat !important;
    background-position: 90% center !important;
  }
}

.btn-arrow-right {
  .btn-arrow-left;
  background-image: url(../img/slices/arrow-left-white.png) !important;
  background-position: 10% center !important;
  &:hover {
    background-image: url(../img/slices/arrow-left-white.png) !important;
    background-position: 10% center !important;
  }
}

.border-radius (@radius: @grid * .5) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.text-shadow (@x: 0px, @y: 0px, @blur: 0px, @color: #FFF) {
  -webkit-text-shadow: @x @y @blur @color;
     -moz-text-shadow: @x @y @blur @color;
          text-shadow: @x @y @blur @color;
}

.box-shadow (@x: 0px, @y: 0px, @blur: 0px, @color: #FFF) {
  -webkit-box-shadow: @x @y @blur @color;
     -moz-box-shadow: @x @y @blur @color;
          box-shadow: @x @y @blur @color;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.placeholder-color(@color: @linkHighlight){
   &::-webkit-input-placeholder { /* WebKit browsers */
        color: @color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: @color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @color;
    }
}