@import "definitions.less";

/* BOOTSTRAP OVERRIDES */
body {
	margin: @grid 0;
}

a, a:visited {
	color: @linkColor;
}

a:hover, a:active {
	color: @linkHighlight;
	text-decoration: none;
}

.btn {
	.border-radius(0px);
	border: none;
	color: #FFF;
	.text-shadow;
	&.btn-primary {
		background: @linkHighlight;
	}
}

/* GLOBAL LAYOUT & ELEMENTS */
#masthead {
	.side {
		text-align: right;
	}
	position: relative;
	h1#logo {
		display: inline;
		img {
			margin: @grid*2.5 0 0 0;
		}
	}
	h2#tagline {
		font-size: 12px;
		font-family: @sansSerifFamily;
		color: @textColor;
		font-weight: normal;
		position: absolute;
		line-height: normal;
		display: inline;
		bottom: 0;
		margin: 0;
	}
}

#utility-menu {
	font-size: 0px;
	overflow: hidden;
	li {
		font-size: @baseFontSize;
		display: inline-block;
		margin: 0 0 0 @grid;
		line-height: @grid*3;
		&.icon {
			text-indent: 10000px;
			background: url(../img/bg-utility-menu-icons.png) no-repeat;
			height: @grid*3;
			width: @grid*3;
		}
		&.vimeo {
			background-position: 0px 0px;
		}
		&.pinterest {
			background-position: -@grid*4 0px;
		}
		&.facebook {
			background-position: -@grid*8 0px;
		}
		&.twitter {
			background-position: -@grid*12px 0px;
		}
		span {
			vertical-align: -30%;
		}
	}
}

#basic-search {
	position: relative;	
	input {
		display: inline-block;
		height: @grid * 2;
		width: 0px;
		padding: @grid/2;
		padding-left: @grid*2;
		background: url(../img/icon-search.png) @grid/2 @grid/2 no-repeat;
		position: absolute;
		cursor: pointer;
		border: @grid/4 solid #FFF;
		right: 0;
		outline: none;
	}
}
#main-nav {
	margin-bottom: @grid*3;
	#main-menu-container {
	    display: table;
	    margin-top: @grid * 5;
	    border-spacing: @grid/2 0;
	    margin-left: -@grid/2;
	    width: 100.8%;
	    #main-menu {
		    display: table-row;
		    li {
			    display: table-cell;
			    text-align: center;
			    border-bottom: @grid/2 solid @linkColor;
			    vertical-align: bottom;
			    padding: 0 0 @grid 0;
			    text-transform: uppercase;
			    font-size: 11px;
			    font-weight: bold;
			    line-height: 0;
			    &:hover {
				    border-bottom-color: @linkHighlight;
			    }
		    }
	    }
	}	
}

h5.category {
	font-family: @sansSerifFamily;
	text-transform: uppercase;
	font-size: 11px;
	background: transparent url(../img/category-stars.png) no-repeat;
	height: 11px;
	padding-top: 2px;
	line-height: 13px;
	padding-left: 13+@grid/2;
	margin: @grid*2 0;
	vertical-align: 90%;
}

.photography {
	h5.category {
		background-position: 0px 0px;
	}
	.btn {
		background: #FAA634;
	}
}

.illustration {
	h5.category {
		background-position: 0px -13px;
	}
	.btn {
		background: #f33737;
	}
}

.film {
	h5.category {
		background-position: 0px -28px;
	}
	.btn {
		background: #000000;
	}
}

.new-media {
	h5.category {
		background-position: 0px -41px;
	}
	.btn {
		background: #884e92;
	}
}

.event {
	h5.category {
		background-position: 0px -54px;
	}
	.btn {
		background: #884e92;
	}
}

.interview {
	h5.category {
		background-position: 0px -67px;
	}
	.btn {
		background: #00b8eb;
	}
}


/* SECTION / PAGE SPECIFIC */

#feature .carousel {
	padding-top: @grid * 2;
	display: none;
	&.active {
		display: block;
	}
}

.carousel-control {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: 0;
	background-color: @linkHighlight;
	opacity: 1 !important;
	color: #FFF !important;
	width: 24px;
	height: 52px;
	font-weight: normal !important;
	line-height: 52px;
	top: 45%;
	z-index: 3;
	&.left {
		left: -12px;
	}
	&.right {
		left: auto;
		right: -12px;
	}
}

.carousel {
	&.carousel-fade {
		.item {
			.transition(.7s ease-in-out opacity);
			left: 0 !important;
		}
		.next.left, .prev.right {
			opacity: 1;
			z-index: 1;
		}
		.active.left, .active.right {
			opacity: 0;
			z-index: 2;
		}
	}
	.carousel-indicator {
		position: absolute;
		margin: 0;
		bottom: @grid;
		right: @grid;
		z-index: 10;
		li {
			float: left;
			width: @grid;
			height: @grid;
			background-color: #CCC;
			margin-left: @grid/2;
			&.active {
				background-color: @linkHighlight;
			}
			a {
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}
}

#carousel-sections {
	padding-left: @grid*2;
	position: relative;
	#carousel-section-nav {
		width: 100%;
		li {
			display: inline-block;
			width: 32.5%;
			a {
				display: block;
				text-align: center;
				border-bottom: 2px solid;
			}
			&.active, &:hover {
				a {
					color: @linkHighlight;
				}
			}
		}
	}
	.carousel-section-content {
		opacity: 0;
		h3 {
			line-height: normal;
			font-weight: normal;
		}
		p {
			line-height: 20px;
		}
		&.active {
			opacity: 1;
		}
		&#carousel-section-0 {
			ul {
				position: relative;
				li {
					.transition(.7s ease-in-out opacity);
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
}
