@import "definitions.less";

/* BOOTSTRAP OVERRIDES */
body {
	margin: @grid 0 0 0;
	line-height: @baseFontSize+6;
}

a, a:visited {
	color: @linkColor;
}

a:hover, a:active {
	color: @linkHighlight;
	text-decoration: none;
}

.btn {
	.border-radius(0px) !important;
	border: none;
	color: #FFF !important;
	text-transform: uppercase;
	font-family: @sansSerifAltFamily;
	font-size: 11px;
	line-height: @grid;
	padding: @grid @grid*2;
	.text-shadow;
	&:hover {
		background: @paleGray !important;
		color: @textColor !important;
	}
	&.btn-primary {
		background: @linkHighlight;
	}
	&.btn-inverse {
		background: @darkGray;
	}
}

.arrow-right {
	padding-right: @grid+16px;
	background: url(../img/slices/arrow-right-blue.png) no-repeat right center;
	display: inline-block;
	height: 14px;
}

input {
	.border-radius(0px) !important;
	.box-shadow() !important;
	&[type=text] {
		height: @grid*2;
		padding: @grid;
	}
}

.well {
	.border-radius(0px);
	background-color: whitesmoke;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	.span2 {
		width: 134px;
		@media (min-width: 1200px) {
			width: 160px;
		}
		@media (max-width: 979px) and (min-width: 768px) {
			width: 94px;
		}
	}
}

h4 {
	font-family: @sansSerifFamily;
	font-weight: normal;
	strong {
		color: @linkHighlight;
		font-weight: @semiBold;
	}
}

h5 {
	font-family: @sansSerifFamily;
	text-transform: uppercase;
	font-size: 11px;
}

/* GLOBAL LAYOUT & ELEMENTS */
#masthead {
	.side {
		text-align: right;
	}
	position: relative;
	h1#logo {
		display: inline;
		img {
			margin: @grid*2.5 0 0 0;
		}
	}
	h2#tagline {
		font-size: 12px;
		font-family: @sansSerifFamily;
		color: @textColor;
		font-weight: normal;
		position: absolute;
		line-height: normal;
		display: inline;
		bottom: 0;
		margin: 0;
	}
}

#utility-menu {
	margin-bottom: 0;
	height: 24px;
}

.ek-social {
	font-size: 0px;
	overflow: hidden;
	li {
		font-size: @baseFontSize;
		display: inline-block;
		margin: 0 0 0 @grid;
		line-height: @grid*3;
		&.icon {
			text-indent: 10000px;
			background: url(../img/bg-utility-menu-icons.png) no-repeat;
			height: @grid*3;
			width: @grid*3;
			.transition(.3s ease-in-out all);
			&:hover {
				background-position-y: -24px;
			}
		}
		&.vimeo {
			background-position: 0px 0px;
		}
		&.pinterest {
			background-position: -@grid*4 0px;
		}
		&.facebook {
			background-position: -@grid*8 0px;
		}
		&.twitter {
			background-position: -@grid*12px 0px;
		}
		span {
			vertical-align: -30%;
		}
	}
}

#basic-search {
	position: relative;
	height: 28px;
	input {
		display: inline-block;
		width: 0px;
		height: 11px;
		padding-top: 7px;
		padding-bottom: 6px;
		padding-left: @grid*2;
		background: url(../img/icon-search.png) @grid/2 @grid/2 no-repeat;
		background-color: #FFF;
		position: absolute;
		cursor: pointer;
		right: 0;
		outline: none;
		border: none;
		font-size: 11px;
		font-family: @sansSerifFamily;
		.transition(.4s ease-in-out all);
		color: @linkHighlight;
		&.expanded {
			width: 182px;
			background-color: @paleGray;
			padding-left: @grid*3;
		}
	}
}
#main-nav {
	margin-bottom: @grid*3;
	#main-menu-container {
	    display: table;
	    margin-top: @grid * 5;
	    border-spacing: @grid/2 0;
	    margin-left: -@grid/2;
	    width: 100.8%;
	    #main-menu {
		    display: table-row;
		    >li {
			    display: table-cell;
			    text-align: center;
			    border-bottom: @grid/2 solid @linkColor;
			    vertical-align: bottom;
			    padding: 0 0 @grid 0;
			    text-transform: uppercase;
			    font-size: 11px;
			    font-weight: bold;
			    line-height: 0;
			    position: relative;
			    >ul {
			    	text-transform: lowercase;
			    	font-weight: normal;
				    position: absolute;
				    left: -100000px;
				    top: 100%;
				    z-index: 10009;
				    padding: 16px 8px;
				    margin: 0 -4px;
				    width: 100%;
				    li {
				    	position: relative;
				    	margin: 0 -12px;
				    	height: 22px;
				    	line-height: 22px;
				    	font-size: 12px;
					    a:link, a:visited {
						    color: #FFF !important;
					    }
					    &:hover {
						    background-color: #333 !important;
					    }
				    }
			    }
			    &.active {
				    >ul {
					    left: 0px;
				    }
			    }
			    &:hover, &.current-menu-item  {
				    border-bottom-color: @linkHighlight;
				    cursor: pointer;
				    a {
					    color: @linkHighlight;
				    }
			    }
		    }
	    }
	}	
}

h5.category {
	font-family: @sansSerifFamily;
	text-transform: uppercase;
	font-size: 11px;
	background: url(../img/slices/sprites.png) no-repeat;
	height: 11px;
	padding-top: 2px;
	line-height: 13px;
	padding-left: 13+@grid/2;
	margin: @grid*2 0;
	vertical-align: 90%;
}

.photography {
	h5.category {
		background: url(../img/slices/category-photography.png) no-repeat;
	}
	.btn, .carousel-indicator li.active, .carousel-control, ul.sub-menu {
		background: @photographyColor !important;
		&:hover {
			color: @photographyColor;
		}
	}
	&.menu-item.active, &.current-menu-item {
		border-bottom-color: @photographyColor !important;
		a, a:hover {
			color: @photographyColor !important;
		}
	}
}

.illustration-art {
	h5.category {
		background: url(../img/slices/category-illustration.png) no-repeat;
	}
	.btn, .carousel-indicator li.active, .carousel-control, .sub-menu {
		background: @illustrationartColor !important;
		&:hover {
			color: @illustrationartColor;
		}
	}
	&.menu-item.active, &.current-menu-item {
		border-bottom-color: @illustrationartColor !important;
		a, a:hover {
			color: @illustrationartColor !important;
		}
	}
}

.film {
	h5.category {
		background: url(../img/slices/category-film.png) no-repeat;
	}
	.btn, .carousel-indicator li.active, .carousel-control, .sub-menu {
		background: @filmColor !important;
		&:hover {
			color: @filmColor;
		}
	}
	&.menu-item.active, &.current-menu-item {
		border-bottom-color: @filmColor !important;
		a, a:hover {
			color: @filmColor !important;
		}
	}
}

.new-media {
	h5.category {
		background: url(../img/slices/category-new-media.png) no-repeat;
	}
	.btn, .carousel-indicator li.active, .carousel-control, .sub-menu {
		background: @newMediaColor !important;
		&:hover {
			color: @newMediaColor;
		}
	}
	&.menu-item.active, &.current-menu-item {
		border-bottom-color: @newMediaColor !important;
		a, a:hover {
			color: @newMediaColor !important;
		}
	}
}

.event {
	h5.category {
		background: url(../img/slices/category-event.png) no-repeat;
	}
	.btn, .carousel-indicator li.active, .carousel-control, .sub-menu {
		background: @eventColor !important;
		&:hover {
			color: @eventColor;
		}
	}
	&.menu-item.active, &.current-menu-item {
		border-bottom-color: @eventColor !important;
		a, a:hover {
			color: @eventColor !important;
		}
	}
}

.interview {
	h5.category,  {
		background: url(../img/slices/category-interview.png) no-repeat;
	}
	.btn, .carousel-indicator li.active, .carousel-control, .sub-menu {
		background: @interviewColor !important;
		&:hover {
			color: @interviewColor;
		}
	}
	&.menu-item.active, &.current-menu-item {
		border-bottom-color: @interviewColor !important;
		a, a:hover {
			color: @interviewColor !important;
		}
	}
}


/* SECTION / PAGE SPECIFIC */

/* HOME */

body.home {
	#sidebar {
		padding-top: 0;
	}
}

#feature .carousel {
	margin-top: @grid * 2;
	display: none;
	&.active {
		display: block;
	}
}

.carousel-control {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: 0;
	background-color: @linkHighlight;
	opacity: 1 !important;
	color: #FFF !important;
	width: 24px;
	height: 52px;
	font-weight: normal !important;
	line-height: 52px;
	top: 50%;
	margin-top: -26px;
	z-index: 3;
	&.left {
		left: -12px;
	}
	&.right {
		left: auto;
		right: -12px;
	}
}

.carousel {
	&.carousel-fade {
		.item {
			.transition(.7s ease-in-out opacity);
			left: 0 !important;
		}
		.next.left, .prev.right {
			opacity: 1;
			z-index: 1;
		}
		.active.left, .active.right {
			opacity: 0;
			z-index: 2;
		}
	}
	.carousel-indicator {
		position: absolute;
		margin: 0;
		bottom: @grid;
		right: @grid;
		z-index: 10;
		li {
			float: left;
			width: @grid;
			height: @grid;
			background-color: @lightGray;
			margin-left: @grid/2;
			&.active {
				background-color: @linkHighlight;
			}
			a {
				display: block;
				height: 100%;
				width: 100%;
			}
		}
	}
	.caption p {
		line-height: 20px;
	}
}

#carousel-sections {
	padding-left: @grid*2;
	position: relative;
	#carousel-section-nav {
		width: 100%;
		li {
			display: inline-block;
			width: 32.5%;
			a {
				display: block;
				text-align: center;
				border-bottom: 2px solid;
			}
			&.active, &:hover {
				a {
					color: @linkHighlight;
				}
			}
		}
	}
	.carousel-section-content {
		opacity: 0;
		h3 {
			line-height: normal;
			font-weight: normal;
		}
		p {
			line-height: 20px;
		}
		&.active {
			opacity: 1;
		}
		ul {
			position: relative;
			li {
				.transition(.7s ease-in-out opacity);
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				&.active {
					opacity: 1;
				}
			}
		}
	}
}

ul#view-controls {
	text-transform: uppercase;
	font-weight: bold;
	font-family: @sansSerifAltFamily;
	font-size: 11px;
	line-height: 16px;
	margin: 30px 0;
	li {
		display: inline-block;
		height: 16px;
		a, a:visited {
			padding-left: @grid+16px;
			margin-right: @grid*2;
			display: inline-block;
			color: @lightGray;
		}
		a:hover, a:active, &.active a, &:hover a {
			color: @linkColor;
		}
		&#grid-view {
			a {
				background: url(../img/slices/icon-gridview.png) no-repeat;
			}
			&.active a, &:hover a {
				background: url(../img/slices/icon-gridview-active.png) no-repeat;
			}
		}
		&#list-view {
			a {
				background: url(../img/slices/icon-listview.png) no-repeat;
			}
			&.active a, &:hover a {
				background: url(../img/slices/icon-listview-active.png) no-repeat;
			}
		}
		&#cat-filter {
			a {
				background: url(../img/slices/icon-filter.png) no-repeat;
			}
			&.active a , &:hover a {
				background: url(../img/slices/icon-filter-active.png) no-repeat;
			}
		}
	}
}

#cat-filters {
	display: none;
	position: relative;
	#close-cat-filters {
		display: block;
		position: absolute;
		top: @grid*2.5;
		right: @grid*2.5;
		background: url(../img/slices/close-button.png) no-repeat;
		height: 15px;
		width: 15px;
	}
	#filter-btn {
		margin-left: 20px;
	}
	h3 {
		font-family: @sansSerifFamily;
		font-weight: normal;
		font-style: italic;
		font-size: 22px;
	}
	a {
		color: @midGray;
	}
	.illustration-art {
		h5 {
			color: @illustrationartColor;
		}
		a:hover, a:active {
			color: @illustrationartColor;
		}
		.selected {
			a { 
				color: @illustrationartColor;
			}
			.check {
				background-color: @illustrationartColor;
			}
		}
	}
	.photography {
		h5 {
			color: @photographyColor;
		}
		a:hover, a:active {
			color: @photographyColor;
		}
		.selected {
			a { 
				color: @photographyColor;
			}
			.check {
				background-color: @photographyColor;
			}
		}
	}
	.film {
		h5 {
			color: @filmColor;
		}
		a:hover, a:active {
			color: @filmColor;
		}
		.selected {
			a { 
				color: @filmColor;
			}
			.check {
				background-color: @filmColor;
			}
		}
	}
	.new-media {
		h5 {
			color: @newMediaColor;
		}
		a:hover, a:active {
			color: @newMediaColor;
		}
		.selected {
			a { 
				color: @newMediaColor;
			}
			.check {
				background-color: @newMediaColor;
			}
		}
	}
	.check {
		display: inline-block;
		height: @grid;
		width: @grid;
		margin-right: @grid;
		background-color: @midGray;	
	}
}

/* CATEGORY PAGE */

#category-carousel {
	h3 {
		margin-bottom: 5px;
		line-height: 1;
		background-color: #FFF;
		font-size: 28px;
		font-weight: normal;
	}
	.author {
		float: left;
		color: #BABABA;
	}
	.date {
		.author;
		float: right;
	}
	.item {
		.img {
			height: 318px;
			overflow: hidden;
			@media (min-width: 1200px) {
				height: 395px;
			}
			@media (max-width: 979px) and (min-width: 768px) {
				width: auto;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		.caption {
			height: 153px;
			p {
				margin-top: @grid+2;
				margin-bottom: 0;
				padding: @grid*2 0;
				border-top: 2px dotted @lightGray;
				background-color: #FFF;
			}
		}
	}
	.carousel-indicator {
		bottom: 169px + @grid;
	}
	.carousel-control {
		top: 41.5%;
	}
}

/* POST LISTING */

.post-list {
	&.grid {
		.row {
			margin-bottom: 45px;
			height: 450px;
			.span4 {
				.transition(e('.4s ease width'));
				.thumbnail {
					overflow: hidden;
					max-height: 190px;
				}
			}
		}
	}
	&.list {
		.row {
			margin-left: 0;
			.span4 {
				width: 100%;
				margin-left: 0;
				margin-bottom: 45px;
				.transition(e('.4s ease width'));
				.thumbnail {
					max-height:none;
				}
			}
		}
	}
	.span4 {
		.thumbnail {
			clear: both;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.post {
		.author, .date {
			float: left;
			font-size: 11px;
			margin: @grid 0 @grid*2-3 0;
			line-height: 11px;
			color: @midGray;
		}
		.date {
			float: right;
		}
		img {
			clear: both;
		}
		h3 {
			font-size: 18px;
			line-height: normal;
			font-weight: 600;
			margin: 0;
		}
		h5 {
			margin-bottom: 0;
			height: 14px;
			margin: 12px 0 0 0;
		}
		.excerpt {
			margin-top: @grid+2;
			margin-bottom: 0;
			padding: @grid*2 0;
			border-top: 2px dotted @lightGray;
			img {
				display: none;
			}
		}
	}
}

.prev {
	h4 {
		text-transform: uppercase;
		font-weight: bold;
	}
	a {
		color: @linkHighlight;
	}
}

#featured {
	.next {
		.prev;
		text-align: right;
	}	
}

/* SIDEBAR & WIDGETS */

#sidebar {
	padding-top: 68px;
	.widget {
		background-color: whitesmoke;
		padding: 0 @grid*3 @grid*2 @grid*3;
		border-bottom: 4px solid @linkHighlight;
		h4 {
			background: @linkHighlight url(../img/slices/star-widget-hdr.png) no-repeat @grid center;
			padding: 0 @grid*3.5;
			color: #FFF;
			text-transform: uppercase;
			font-family: @sansSerifFamily;
			font-size: @grid*2;
			font-weight: 500;
			height: @grid*4;
			line-height: @grid*4.5;
			margin: @grid*3 -@grid*3;
			border-bottom: 1px solid #2AC8F8;
		}
		&.newsletter-signup {
			background: #FFF;
			border: none;
			padding: 0px;
			h4 {
				font-size: @baseFontSize;
				background: #FFF;
				border: none;
				margin-bottom: 0;
				color: @textColor;
			}
		}
		&.facebook {
			.facebookOuter {
				width: auto; 
				height: auto;
				overflow: hidden;
			}
			.fb-like-box, .fb-like-box span, .fb-like-box.fb_iframe_widget span iframe {
			    border: none !important;
			    margin: -1px !important;
			    width: 101% !important;
			}
		}
		&.widget_ek-pinterest-widget {
			.row {
				margin-bottom: @grid * 2;
			}
			.follow a {
				font-size: 20px;
				line-height: 20px;
				.logo {
					width: 85px;
					height: 20px;
					display: inline-block;
					background: url(../img/slices/logo-pinterest.png) no-repeat right center;
					vertical-align: -10%;
				}
			}
		}
		&.ek-random-articles {
			ul {
				margin: 0;
				li {
					padding-bottom: @grid;
					h3 {
						font-size: 16px;
						margin-bottom: @grid;
					}
					.thumbnail {
						margin-bottom: @grid*2;
					}
				}
			}
		}
		.featured-archive {
			background: none;
			border: none;
			font-weight: 600;
			line-height: 18px;
			height: 18px;
			font-size: 18px;
		}
		&.widget_text {
			padding: 0;
			background-color: #FFF;
		}
	}
}

.newsletter-signup {
	h4 {
		text-transform: uppercase;
		font-weight: normal;
		color: @textColor;
		margin-bottom: 0;
	}
	input {
		.transition(none) !important;
		border: none !important;
		&[type=text] {
			background-color: whitesmoke;
		}
		width: 61%;
	}
	button {
		height: @grid*4;
		padding: @grid;
		font-family: @sansSerifFamily;
		font-size: 15px;
		text-transform: none;
		font-weight: normal;
		line-height: normal;
		text-align: left;
		.btn-arrow-left;
		&:hover {
			.btn-arrow-left-hover;
		}
		width: 35%;
	}
}

/* FOOTER & WIDGETS */

#footer {
	background: #111;
	font-size: 11px;
	h4 {
		margin: 18px 0;
		color: @lightGray;
	}
	a, a:link {
		color: @textColor;
	}
	a:hover, a:active {
		color: @linkHighlight;
	}
	.widget {
		margin-bottom: 45px;
		&.newsletter-signup {
			h4 {
			}
			input {
				background: @darkGray;
				border-bottom: 2px solid @linkHighlight !important;
				display: block;
				margin: @grid*2 0;
				width: 63%;
			}
		}
		&.ek-social {
			li {
				margin-left: 0;
				margin-right: @grid;
			}
		}
		&.featured-post {
			p {
				font-size: @baseFontSize;
				margin: @grid*2 0;
			}
		}
	}
	#ad-slot-2 {
		width: 728px;
		height: 90px;
		margin: @grid*3 auto;
	}
}

/* SINGLE POST PAGE */

body.single, body.page {
	font-size: 16px;
	line-height: 24px;
	h1 {
		font-size: 23px;
		margin-bottom: 11px;
		height: 23px;
		line-height: 23px;
	}
	.meta {
		position: relative;
		margin-bottom: 11px;
		font-size: 13px;
		line-height: normal;
		p {
			height: 13px;
			margin: 0;
		}
		.author {
			float: left;
		}
		.date {
			float: right;
			margin-right: 32px;
		}
		.posts-nav {
			position: absolute;
			right: 0;
			width: 23px;
			height: 13px;
			a {
				display: block;
				position: absolute;
				height: 13px;
				width: 8px;
				background-repeat: no-repeat;
				&.prev {
					left: 0;
					background-image: url(../img/posts-nav-prev-off.png);
					&:hover, &:active {
						background-image: url(../img/posts-nav-prev-on.png);
					}
				}
				&.next {
					right: 0;
					background-image: url(../img/posts-nav-next-off.png);
					&:hover, &:active {
						background-image: url(../img/posts-nav-next-on.png);
					}
				}
			}
		}
	}
	.sub-img {
		height: 44px;
		line-height: 44px;
		h5.category {
			float: left;
		}
		.heart {
			float: right;
			margin: 12px 0;
			height: 21px;
			line-height: 21px;
			padding-left: 25px;
			text-transform: uppercase;
			font-weight: @semiBold;
			background: url(../img/heart-add.png) no-repeat;
		}
	}
	.post-share {
		border-top: 2px dotted @lightGray;
		border-bottom: 2px dotted @lightGray;
		height: 37px;
	    li {
	    	display: inline;
	    	padding-right: 24px;
	    	font-size: 10px;
	    	text-transform: uppercase;
	    	font-weight: @semiBold;
	    	line-height: 37px;
	    	a {
		    	color: @darkGray;
	    	}
		    &:before {
				content: '';
				display: inline-block;
				position: relative;
				height: 12px;
				width: 12px;
				.border-radius(6px);
				margin-right: 4px;
				top: 2px;
			}
			&.facebook {
				&:before {
					background-color: #2e89ce;
				}
				a:hover {
					color: #2e89ce !important;
				}
			}
			&.twitter {
				&:before {
					background-color: #16caf4;
				}
				a:hover {
					color: #16caf4 !important;
				}
			}
			&.stumbleupon {
				&:before {
					background-color: #29e273;
				}
				a:hover {
					color: #29e273 !important;
				}
			}
			&.pinterest {
				&:before {
					background-color: #d84b1e;
				}
				a:hover {
					color: #d84b1e !important;
				}
			}
			&.email {
				&:before {
					background-color: @darkGray;
				}
				a:hover {
					color: @darkGray !important;
				}
			}
			&.permalink {
				&:before {
					background-color: #b2b2b2;
				}
				a:hover {
					color: #b2b2b2 !important;
				}
			}
		}
	}
	#related-artists {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		h2 {
			position: relative;
			background: #000 url(../img/slices/star-blue-hdr.png) no-repeat @grid center;
			padding: 0 @grid*3.5;
			color: #FFF;
			text-transform: uppercase;
			font-family: @sansSerifFamily;
			font-size: @grid*2;
			font-weight: 500;
			height: @grid*4;
			line-height: @grid*4.5;
			margin: @grid*3 0;
			overflow: hidden;
			.more-posts {
				position: absolute;
				right: 0px;
				display: inline-block;
				line-height: @grid*4 + 2;
				height: @grid*4 + 2;
				a {
					text-transform: none;
					color: #FFF;
					font-weight: normal;
					display: inline-block;
					font-size: 12px;
					background-size: 6px 12px;
					position: relative;
					top: -1px;
					.btn-arrow-left;
					&:hover {
						.btn-arrow-left-hover;
					}
					&.prev {
						visibility: hidden;
						padding-left: 28px;
						padding-right: 16px;
						background-image: url(../img/slices/arrow-left-white.png) !important;
						background-position-x: 10% !important;
						margin-left: 16px;
					}
					&.next {
						padding-right: 28px;
						padding-left: 16px;
					}
				}
			}
		}
		.span4 {
			width: 29.5%;
			.excerpt {
				display: none;
			}
			.category {
				display: none;
			}
			.btn {
				display: none;
			}
		}
		.post-list {
			position: relative;
			left: 0px;
			.transition(.2s ease-in-out left);
		}
	}
}
